/storybook-static
.DS_Store

# node.js
#
node_modules/
npm-debug.log
yarn-error.log

# Expo
.expo/*
web-build/

# Storybook build
packages/*/lib
/lib/*
!/lib/package.json

# Jest
.jest

# Below storybook dir is cp from .storybook which is necessary in app
storybook

# Coverage
coverage