__tests__/
src/
lib/
.dooboo/
.DS_Store
android/
icons/
ios/
.buckconfig
.eslintrc.js
.flowconfig
.gitattributes
.gitignore
.watchmanconfig
App.js
app.json
babel.config.js
metro.config.js
tsconfig.json
yarn.lock
yarn-error.log
index.js
node_modules/
!lib/components/shared/
!lib/components/shared/**/*index.js

