__tests__/
.dooboo/
.DS_Store
android/
icons/
ios/
.buckconfig
.eslintrc.js
.flowconfig
.gitattributes
.gitignore
.watchmanconfig
App.js
app.json
babel.config.js
metro.config.js
tsconfig.json
yarn.lock
yarn-error.log
index.js
node_modules/
src/components/navigation/
src/components/screen/
src/contexts/
src/utils/
src/App.tsx
!src/components/shared/
!src/components/shared/**/*index.js
